<% p = StaffMemberFormPresenter.new(f, self) %>
<div class="notes">
  <span class="mark">*</span>印のついた項目は必須項目です。
</div>
<div>
  <%= f.label :email, "メールアドレス", class: "required" %>
  <%= f.text_field :email, size: 32, required: true %>
</div>
<% if f.object.new_record? %>
<div>
  <%= f.label :password, "パスワード", class: "required" %>
  <%= f.password_field :password, size: 32, required: true %>
</div>
<% end %>
<%=  p.full_name_block(:family_name, :given_name, '氏名', required: true) %>
<%=  p.full_name_block(:family_name_kana, :given_name_kana, 'フリガナ', required: true) %>
<div>
  <%= f.label :start_date, "開始日", class: "required" %>
  <%= f.text_field :start_date, required: true %>
</div>
<div>
  <%= f.label :end_date, "終了日"%>
  <%= f.text_field :end_date %>
</div>
<div class="check-boxes">
  <%= f.check_box :suspended %>
  <%= f.label :susupended, "アカウント停止" %>
</div>
